<div class="card text-white bg-primary mb-3 mt-5">
    <div class="card-body">
        <h4>
            <strong>Descargar videos y audios de Youtube</strong>
        </h4>
        <p>
            <strong>YouDownloader</strong>
            Es una app que te permite descargar audios y videos desde YouTube en 
            formato mp3, webm y mp4, en calidad HD.
        </p>
        <p>
            <h6>
                <strong>Pasos:</strong>
            </h6>
            <ol>
                <li>Copie el link del video a descargar y presione el botón "Comenzar".</li>
                <li>Presione el botón "Descargar" en el video o audio según la calidad ajustada a tus necesidades.</li>
                <li>Escoge la carpeta donde el video será guardado. !Y listo!</li>
            </ol>
        </p>
        <p style="font-size: 13px;">
            <strong>Creada por:</strong>
            Jose Noguera
            <br>
            <strong>Github:</strong>
            https://github.com/josenoguera-94
            <br>
            <strong>Email:</strong>
            josenoguera1994@gmail.com
            <br>
        </p>
    </div>
</div>
